<section class="section-form">
    <h1>Editando: {{user.name}}</h1>
    <form action="/users/update" method="POST" class="form">
        <input type="hidden" name="id" value="{{user.id}}">
        <div class="form-control">
            <label for="name">Nome:</label>
            <input type="text" name="name" placeholder="Digite o nome do usuário" value="{{user.name}}">
        </div>
        <div class="form-control">
            <label for="occupation">Profissão:</label>
            <input type="text" name="occupation" placeholder="Digite a profissão" value="{{user.occupation}}">
        </div>
        <div class="form-control form-checkbox">
            {{#if user.newsletter}}
            <input type="checkbox" name="newsletter" checked>
            {{else}}
            <input type="checkbox" name="newsletter">
            {{/if}}
            <label for="newsletter">Enviar promoções?</label>
        </div>
        <div class="buttons">
            <input type="submit" value="Salvar" class="submit-button">
        </div>
    </form>
</section>
<section class="section-form">
    <h1>Cadastrar endereço:</h1>
    <form action="/address/create" method="POST" class="form">
        <input type="hidden" name="UserId" value="{{user.id}}">
        <div class="form-control">
            <label for="street">Rua:</label>
            <input type="text" name="street" placeholder="Digite o nome da Rua/Avenida">
        </div>
        <div class="form-control">
            <label for="number">Número:</label>
            <input type="text" name="number" placeholder="Digite o número do imóvel">
        </div>
        <div class="form-control">
            <label for="city">Cidade:</label>
            <input type="text" name="city" placeholder="Digite o nome da cidade">
        </div>
        <div class="buttons">
            <input type="submit" value="Cadastrar" class="submit-button">
        </div>
    </form>
</section>
<section class="section-user-addresses ">
    <h1>Endereços de {{user.name}}</h1>
    {{#each user.Addresses}}
    <div class="item">
        <h2>{{this.street}}, {{this.number}} - {{this.city}}</h2>
        <p>#{{this.id}}</p>
        <div class="actions">
            <form action="/address/delete" method="POST">
                <input type="hidden" name="UserId" value="{{this.UserId}}">
                <input type="hidden" name="id" value="{{this.id}}">
                <input type="submit" value="Excluir" class="delete-button">
            </form>
        </div>
    </div>
    {{/each}}
</section>